* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
    background-size: auto 100vh;
    font-family: 'DM Mono', monospace;
}



header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: whitesmoke;
    font-size: 23px;
    position: fixed;
    width: 100vw;
    top: 0;
}

@media (max-width: 520px) {
    .menu {
        font-size: 19px;
    }
}

.linguagens h1 {
    font-size: 50px;
}

@media (min-width: 520px) {
    body {
        font-size: 27px;
    }
}
h1, 
h2,
h3, 
p {
      color: white
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: burlywood;
}

.menu a {
    padding: 10px 20px;
    display: block;
}

.menu ul {
    display: flex;
    justify-content:space-around;
}
.menu li {
    list-style: none;
}

.title, 
.subtitle {
    text-align: center;
}

.subtitle {
    font-style: italic;
}

.logos {
    width: 60px;
    height: 60px;
}
.logos-html {
    width: 45px;
    height: 60px;
}

figcaption {
    color: white;
}

.linguagens figure {
    text-align: center;
}

.linguagens .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 150px);
}

@media (max-width: 520px) {
    .linguagens .grid{
        grid-template-columns: repeat(2, 150px);
    }
}

h3 {
    padding: 10px;
}